body {
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Barlow Semi Condensed', sans-serif;
    text-align: center;
}

h1, h2 {
    font-family: 'Roboto Slab', serif;
    color: #4d4d96;
}



header, main, footer {
    margin: 1.25rem auto;
    max-width: 95%;
}

.cards {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; 
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.cards section {
    margin: .5rem;
    padding: 1rem;
    background-color: #b9b9cc;
    border: 1px solid #4d4d96;
}

.cards section img {
    width: auto;
    height: 300px;
    object-fit: scale-down;
    box-shadow: 0 0 20px #4f4f4f;
    
}

/* Medium screen */
@media only screen and (min-width: 32.5em) {


    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr; 
        grid-column-gap: 30px;
        grid-row-gap: 30px;
    } 

}

/* Large screen */
@media only screen and (min-width: 64rem) {

    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr; 
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }

}

