#logo {
    float: left;
}

.town-data {
    display: flex;
    flex-wrap: wrap;
}

.town-data section {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.town-data section div {
    padding: 10px;
}

.town-data section img {
    width: auto;
    height: 75%;
    object-fit: scale-down;
}


