body {
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Dosis', sans-serif;
    color: $color2;
}

header,
main,
footer {
    margin: 1.25rem auto;
    max-width: 95%;
}

header,
footer {
    background-color: $color1;
    color: $color2;
    text-align: center;
    padding: 1rem;
    border-radius: 10px;
}

a,
a:link a:visited {
    text-decoration: none;
    color: $color2;
}

footer a:hover {
    text-decoration: underline;
}

nav {
    margin: 0 auto;
    max-width: 760px;
    background-color: $color2;
    text-align: center;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    border-radius: 10px;
}

.navigation li:first-child {
    display: block;
}

.navigation {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navigation li {
    display: none;
}

li a {
    display: block;
    color: $color3;
    font-size: 1.2em;
    line-height: 1.5;
    text-align: center;
    padding: 0.8em 2%;
}

li a:hover {
    background-color: $color3;
    color: $color2;
    border-radius: 10px;
}

.responsive li {
    display: block;
}

.hidden {
    display: none;
}

.active {
    color: $color2;
    background-color: $color3;
    border-radius: 10px;
}

main {
    display: grid;
    padding: 10px;
}

main section {
    margin: 10px;
    padding: 5px;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Playfair Display', serif;
    color: $color2;
    text-align: center;
}

#logo {
    max-width: 85%;
}

img {
    max-width: 95%;
}

.banner {
    padding-top: 30px;
    padding-bottom: 40px;
}

form fieldset {
    margin: 2rem 0;
    border: 1px solid $color2;
    border-radius: 10px;
    padding: .5rem 2%
}

form legend {
    color: $color2;
    margin: 0 1rem;
    padding: 0 0.5rem;
}

form label.top,
form div {
    display: block;
    padding-top: 1rem;
    color: $color2;
}

form label.top input,
form label.top select {
    display: block;
    border: solid 1px $color2;
    padding: .75rem;
    width: 100%;
    max-width: 20rem;
    background-color: $color4;
}

form label.sbs {
    display: block;
    padding: .75rem 0;
}

form input.submitBtn {
    border: none;
    background-color: $color1;
    border-radius: 1rem;
    padding: 1rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

textarea {
    background-color: $color4;
}

table {
    border-collapse: collapse;
    border: 1px solid $color4;
}

th,
td {
    border: 1px solid $color4;
    text-align: center;
    padding: 10px;
}

thead,
    {
    background-color: $color1;
    font-size: 2em;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}

tbody tr th {
    background-color: $color2;
    color: $color4;
    font-weight: bold;
}

tbody tr {
    background-color: $color3;
}

tbody tr:nth-child(odd) {
    background-color: $color1;
}