$color1: #FFBC9C;
$color2: #1B5150;
$color3: #8FC1E3;
$color4: #F7F9FB;

$fontSans: 'Quicksand', sans-serif;
$fontSerif: 'Playfair Display', serif;
$lightWeight: 300;
$regularWeight: 400;
$boldWeight: 500;
$heavyWeight: 700;
