body {
  font-size: 18px;
  line-height: 1.5;
  font-family: 'Dosis', sans-serif;
  color: #1B5150; }

header,
main,
footer {
  margin: 1.25rem auto;
  max-width: 95%; }

header,
footer {
  background-color: #FFBC9C;
  color: #1B5150;
  text-align: center;
  padding: 1rem;
  border-radius: 10px; }

a,
a:link
a:visited {
  text-decoration: none;
  color: #1B5150; }

footer a:hover {
  text-decoration: underline; }

nav {
  margin: 0 auto;
  max-width: 760px;
  background-color: #1B5150;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
  border-radius: 10px; }

.navigation li:first-child {
  display: block; }

.navigation {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.navigation li {
  display: none; }

li a {
  display: block;
  color: #8FC1E3;
  font-size: 1.2em;
  line-height: 1.5;
  text-align: center;
  padding: 0.8em 2%; }

li a:hover {
  background-color: #8FC1E3;
  color: #1B5150;
  border-radius: 10px; }

.responsive li {
  display: block; }

.hidden {
  display: none; }

.active {
  color: #1B5150;
  background-color: #8FC1E3;
  border-radius: 10px; }

main {
  display: grid;
  padding: 10px; }

main section {
  margin: 10px;
  padding: 5px;
  text-align: center; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
  color: #1B5150;
  text-align: center; }

#logo {
  max-width: 85%; }

img {
  max-width: 95%; }

.banner {
  padding-top: 30px;
  padding-bottom: 40px; }

h1,
h2 {
  margin: 0; }

.col {
  flex: 1 1 100%;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  border-left: 1px solid #333;
  background-color: #1B5150;
  color: #FFBC9C;
  font-size: 13px;
  text-align: center; }

.flex div:last-child {
  border-right: 1px solid #333; }

.flex div img,
table img {
  border-radius: 100px;
  padding: 5px; }

.data {
  display: block;
  padding: 0 5px 5px; }

.guides {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  font-size: 20px; }

.guides section {
  margin: 0.5rem;
  padding: 10px;
  background-color: #FFBC9C;
  border-radius: 10px; }

.guides img {
  display: block;
  margin-left: 20px;
  margin-right: 20px; }

@media only screen and (min-width: 32.5em) {
  #logo {
    float: left; }

  .guides {
    display: flex;
    flex-wrap: wrap; }

  .guides section {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%; }

  .guides section div {
    padding: 10px; }

  .guides section img {
    width: auto;
    height: 75%;
    object-fit: scale-down; } }
/* end of media query */
@media only screen and (min-width: 64rem) {
  .navigation li a {
    text-align: center; }

  .navigation li {
    display: block;
    flex: 1 1 100%; }

  .navigation li:first-child {
    display: none; }

  .navigation {
    display: flex; }

  nav {
    max-width: 95%; }

  nav ul li a {
    padding: .6rem 1rem; }

  .guides {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 40px;
    text-align: center; }

  .guides section {
    display: block; }

  #logo {
    float: left; } }
/* end of media query */

/*# sourceMappingURL=guide-styles.css.map */
