body {
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
}

header {
    font-family: 'Merriweather', serif;
}

header,
main,
footer {
    margin: 1.25rem auto;
    max-width: 95%;
}

header,
footer {
    background-color: #a2d3ff;
    color: #4f4f4f;
    text-align: center;
    padding: 1rem;
    border-radius: 10px;
}

nav {
    background-color: #4f4f4f;
    line-height: 5em;
    text-align: center;
    border-radius: 10px;
}

nav a {
    color: #ffe5b4;
    font-size: 1.2em;
    line-height: 1.5;
    text-decoration: none;
    padding: 1em;
}


nav a:link {
    color: #ffe5b4;
}

nav a:visited {
    color: #a2d3ff;
}

nav a:hover {
    background-color: #ffe5b4;
    color: #4f4f4f;
}

nav li {
    display: block;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 20px;
    padding: 10px;
    background-color: #ffe5b4;
}

main section {
    margin: 10px;
    border: 1px;
    padding: 5px;
    text-align: center;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Merriweather', serif;
    color: #4f4f4f;
}

img {
    max-width: 100%;
}

#color-scheme {
    box-shadow: -10px 0px 10px 1px;
    margin: 15px;
}